
html {
  scroll-behavior: smooth;
}

:root {
  --background: rgba(0, 214, 170, .85);
  --imagebig: url(img/blue2.png);
  --imagetablet: url(img/bluetablet.png);
  --imagephone: url(img/blue1.png);
  --navcol: #2a015f;
  --font: 'Libre Baskerville', serif;
  --black: #000000;
  --white: #f7f3f3;
}

html.dark {
  --imagebig: url(img/red2.png);
  --imagetablet: url(img/redtablet.png);
  --imagephone: url(img/mobile1.png);
  --navcol: #19171b;
  --font: 'Libre Baskerville', serif;
  --black: #000000;
  --white: #f7f3f3;
}


html.yellow {
  --imagebig: url(img/yellow2.png);
  --imagetablet: url(img/yellowtablet.png);
  --imagephone: url(img/yellow1.png);
  --navcol: #19171b;
  --font: 'Libre Baskerville', serif;
  --black: #000000;
  --white: #f7f3f3;
}



/* content-box: the border, padding and margin aren’t part of the width or height. This is the default.
border-box: The padding and border are included in the width and height. */


*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  
}


body{



position: relative;
font-family: var(--font);
font-weight: 500;

}



a.enterBtn {
  background-color: red;
  color: white;
  padding: .25em .36em;
  position: relative;
  text-decoration: none;
 
  border-radius: 10px
}

a.enterBtn:hover {
  background-color: #ce0606;
  cursor: pointer;
}

a.enterBtn:active {
  box-shadow: none;
  top: 5px;
} 

a.enterBtn.white{
  background-color: var(--white);

}

a.enterBtn.black{
  background-color: var(--black);

}

a.enterBtn green{
  background-color: beige;

}



.header{
  
  
    display:flex;
    justify-content: left;
    padding: 30px;
    text-align: center;
    z-index: 999;
    width: 100vw;
  }
  nav{
    
    z-index: 999;
  }
  
  .navlinks {
    
    width:100vw;
    background-color: var(--navcol);
    list-style: none;
  }
  
  .navlinks li {
    /* så de stiller sig ved siden af hinanden */
    display: inline-block;
  }
  
  li
  {
    padding: 15px;
  }
  
  nav ul {
    display: flex;
  }
  
  nav li {
    flex: 1;
    margin-left: 3em;
    margin-bottom: 0;
  }
  
  nav a {
    color: rgb(252, 252, 252);
    opacity: 1;
    position: relative;
  }
  
  nav a::before {
    content: '';
    display: block;
    height: 5px;
    background: black;
    position: absolute;
    bottom: -0.75em;
    left: 0;
    right: 0;
    border-radius: 3px;
    transform: scale(0, 1);
    /* hvis man vil skifte retning kan man transform-origin: left, right, top; */
    transition: transform ease-in-out 250ms;
  }
  
  nav a:hover::before {
    transform: scale(1,1);
  }
  
  nav a:hover {
    color: #000;
   
  }
  
h1{
  padding-top: 10vh;
  text-align: center;
}


.formsection {
  
  padding-top: 4vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.formcontainer {
  
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  box-shadow: 0px 0px 20px #00000010;
  background-color: white;
  border-radius: 8px;
  margin-bottom: 20px;
}
.form-group {
  width: 100%;
  margin-top: 20px;
  font-size: 20px;
}
.form-group input,
.form-group textarea {
  width: 100%;
  padding: 5px;
  font-size: 18px;
  border: 1px solid rgba(128, 128, 128, 0.199);
  margin-top: 5px;
}

textarea {
  resize: vertical;
}
button[type="submit"] {
  width: 100%;
  border: none;
  outline: none;
  padding: 20px;
  font-size: 24px;
  border-radius: 8px;
  font-family: "Montserrat";
  color: rgb(27, 166, 247);
  text-align: center;
  cursor: pointer;
  margin-top: 10px;
  transition: 0.3s ease background-color;
}
button[type="submit"]:hover {
  background-color: rgb(214, 226, 236);
}
#status {
  width: 90%;
  max-width: 500px;
  text-align: center;
  padding: 10px;
  margin: 0 auto;
  border-radius: 8px;
}
#status.success {
  background-color: rgb(211, 250, 153);
  animation: status 4s ease forwards;
}
#status.error {
  background-color: rgb(250, 129, 92);
  color: white;
  animation: status 4s ease forwards;
}


@keyframes status {
  0% {
    opacity: 1;
    pointer-events: all;
  }
  90% {
    opacity: 1;
    pointer-events: all;
  }
  100% {
    opacity: 0;
    pointer-events: none;
  }
}



.bottom {

  position: absolute;
  bottom: 0;
}
