
html {
  scroll-behavior: smooth;
}

.textcenter{
  text-align: center;
}


p{
  font-size: 1.2em;
  color: var(--fontcol);;
}

li{
  font-size: 1.2em;
  color: var(--fontcol);;
}

h3{
  color: var(--fontcol);;
}
h1{
  color: var(--fontcol);;
}

:root {
  --background: rgba(0, 214, 170, .85);
  --imagebig: url(img/red2.png);
  --imagetablet: url(img/redtablet.png);
  --imagephone: url(img/red1.png);

  --navcol: #19171b;
  --font: 'Libre Baskerville', serif;
  --black: #000000;
  --white: #f7f3f3;
  --navline: black;
  --fontcol: #d2e2d3;
}

html.dark {

  --font: 'Libre Baskerville', serif;
  --black: #000000;
  --white: #f7f3f3;
}


html.yellow {
  --imagebig: url(img/yellow2.png);
  --imagetablet: url(img/yellowtablet.png);
  --imagephone: url(img/yellow1.png);
  --navcol: #19171b;
  --font: 'Libre Baskerville', serif;
  --black: #000000;
  --white: #f7f3f3;
}



/* content-box: the border, padding and margin aren’t part of the width or height. This is the default.
border-box: The padding and border are included in the width and height. */


*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  
}


body{
position: relative;
font-family: var(--font);
font-weight: 500;

}



a.enterBtn {
  background-color: red;
  color: var(--fontcol);;
  padding: .25em .36em;
  position: relative;
  text-decoration: none;
  border-radius: 10px;
  width: 10rem;
}

a.enterBtn:hover {
  background-color: #ce0606;
  cursor: pointer;
}

a.enterBtn:active {
  box-shadow: none;
  top: 5px;
} 

a.enterBtn.white{
  background-color: var(--white);

}

a.enterBtn.black{
  background-color: var(--black);

}

a.enterBtn green{
  background-color: beige;

}



.header{
  
  
    display:flex;
    justify-content: left;
    padding: 10px;
    text-align: center;
    z-index: 999;
    width: 100vw;
    position: fixed;
  }
  nav{
    
    z-index: 999;
  }
  
  .navlinks {
    position: fixed;
    width:100vw;
    background-color: var(--navcol);
    list-style: none;
    z-index: 999;
  }
  
  .navlinks li {
    /* så de stiller sig ved siden af hinanden */
    display: inline-block;
  }
  
  li
  {
    padding: 0.9em;
  }
  

  nav li {
 
    margin-left: 2em;
    margin-bottom: 0;
  }
  
  nav a {
    color: var(--fontcol);;
    opacity: 1;
    position: relative;
  }
  
  nav a::before {
    content: '';
    display: block;
    height: 5px;
    background: var(--navline);
    position: absolute;
    bottom: -0.75em;
    left: 0;
    right: 0;
    border-radius: 3px;
    transform: scale(0, 1);
    /* hvis man vil skifte retning kan man transform-origin: left, right, top; */
    transition: transform ease-in-out 250ms;
  }
  
  nav a:hover::before {
    transform: scale(1,1);
  }
  
  nav a:hover {
    color: #000;
   
  }
  
h1{
  padding-top: 10vh;
  text-align: center;
}




.bottom {

  position: absolute;
  bottom: 0;
}
